/* Global Stil Sıfırlama */
* {
  box-sizing: border-box;
}

.nav-desktop,
.address-desktop {
  display: none;
}

.container a {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

/* Mobil Navigasyon Linkleri */

.mobile-nav-ul a {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  color: #2e2f42;
  display: block;
  margin-bottom: 40px;
  letter-spacing: 0.02em;

  /* 36px * 1.11 = ~40px ve figmadan gelen 2% (0.02em) harf aralığı */
}

/* Mobil Adres Linkleri */

.mobile-address a {
  display: block;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

}

.mobile-address .phone-link {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: #4d5ae5;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}

.mobile-address .mail-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
  line-height: 1.2;
}

/* Hamburger Butonunu Göster */

.mobile-menu-btn-label {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 16px;
}

/* Header Container Düzeltme (Logo solda, buton sağda) */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* 1. Menü Kapsayıcı (Kapalı Durum) */

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 2. Menü İçeriği (Beyaz Alan) */

.mobile-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;
  background-color: #ffffff;
  padding: 80px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

/* 3. Checkbox İle Açma */

#menu-toggle:checked~.mobile-menu-backdrop {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

/* 4. Kapatma Butonu (X ikonu) */

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
  background-color: rgba(231, 233, 252, 1);
  margin-right: 24px;
}

/* Görsel ve h3  arasına margin */
.team-ul .team-li img {
  margin-bottom: 32px;
}

/* 5. Navigasyon ve Alt Kısım Stilleri */

.mobile-nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Mobil Menü Navigasyon Linkleri İçin Margin Ayarı */

.mobile-menu-container .nav {
  margin-left: -24px;
}

/* Mobil Menü Adres Kısmı İçin Margin Ayarı */

.mobile-menu-container .mobile-address {
  margin-left: -24px;
}

.mobile-nav-ul a:hover,
.mobile-nav-ul a:focus {
  color: #4d5ae5;
}

/* Mobil Adres ve Sosyal Kısmı */

.mobile-address-social {
  margin-bottom: 40px;

  /* Burası flex-direction:column ile container alt kısmına itilmiş oldu */
}

.mobile-social-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

/* Mobil Menüdeki İkon Kapsayıcılarının Stili */

.mobile-social-list .social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-social-list .social-link svg {
  fill: #f4f4fd;
}

.footer-social .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Buton ve Link */

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

/* Navigasyon Linkleri (Alt Çizgi) */

.nav-ul a {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-ul a:hover,
.nav-ul a:focus {
  color: #4d5ae5;
}

.nav-ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-ul a:hover::after,
.nav-ul a:focus::after {
  transform: scaleX(1);
  
}

/* Studio linki için kalıcı alt çizgi kuralı yok ama Studio linkinin aktifliğini belirtmek için renk kuralı */

.li-studio a {
  color: #4d5ae5;
}


/* Adres Linkleri */

.address-desktop a {
  font-style: normal;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-desktop a:hover,
.address-desktop a:focus {
  color: #4d5ae5;
}

/* Genel Buton */

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Hero Butonu */

.hero-button {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  gap: 10px;
  padding: 16px 32px;
  border-radius: 4px;
}

/* Footer Subscribe Butonu */

.subscribe-button {
  padding: 8px 24px;
  display: flex;
  gap: 16px;
  min-width: 165px;
}

.subscribe-button .icon-icon-send {
  fill: rgba(244, 244, 253, 1);
}

/* TEAM Sosyal Medya İkonları için Gerekli Stiller */

.team-icon-box {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-box:hover,
.team-icon-box:focus {
  background-color: #31d0aa;
  
}

.team-icon {
  fill: #f4f4fd;
}

.team-social-list {
  display: flex !important;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

/*  FOOTER VE SUBSCRIBE EKLEMELERİ */

/* Subscribe Input/Label Hover/Focus Efekti (YEŞİL) */

.subscribe-label:hover,
.subscribe-label:focus {
  border: 1px solid #31d0aa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Label elementini Input gibi genişletir ve form içindeki ortalamaya uyum sağlar */

.subscribe-label {
  display: block;
  width: 100%;
  max-width: 288px;
  margin: 0 auto;
  
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #31d0aa;
}


html {
  font-size: 16px;
}


body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Tüm bölümler için dikey boşluk ayarı (Mobile First: 96px) */

.strategy,
.team,
.portfolio,
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section {
  width: 100%;
}

/* Container (MOBILE FIRST) */

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
  text-decoration: none;
}

.header .span-1 {
  color: rgba(77, 90, 229, 1);
}

/* Hero Bölümü (MOBILE FIRST) */

.hero {
  
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #2e2f42;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
 
}

/* Hero title (MOBILE FIRST) */

.hero-title {
  font-weight: 700;
  line-height: 1.11;
  color: #ffffff;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 320px;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
}

/* Hero paragraf stili (MOBILE FIRST) */

.strategy-ul p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(67, 68, 85, 1);
  font-family: "Roboto", sans-serif;
}

/* Hiyerarşi Başlık Stilleri */

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #2e2f42;
}

/* H3 Başlık Stilleri  */

h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgba(46, 47, 66, 1);
  line-height: 24px;
}

/* STRATEGY (MOBILE FIRST) */

.strategy-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.strategy-li {
  flex-basis: auto;
}

.strategy-li h3 {
  text-align: center;
}

.strategy-icon-box {
  display: none;
}

/* TEAM (MOBILE FIRST) */

.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-ul {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0;
  margin: 0;
}

/* TEAM Kartı Görselleri için Gerekli Stil Mobil ve diğer tüm görünümler */

.team-li img {
  width: 100%;
  height: auto;
  display: block;
}

.team-li {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  flex-basis: auto;
  overflow: hidden;
}

.team h2 {
  margin-bottom: 72px;
}

.team-li h3 {
  margin-bottom: 8px;
}

.team-li p {
  color: #434455;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* PORTFOLIO (MOBILE FIRST) */

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.portfolio-li {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  overflow: hidden;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(231, 233, 252, 1);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: rgba(46, 47, 66, 1);
}

.ilk-yazi {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  margin: 0 16px 32px;
  font-weight: 400;
  line-height: 24px;
}

.portfolio-li:hover,
.portfolio-li:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border: none;
}

/* PORTFOLIO OVERLAY/THUMB STİLLERİ Önce Mobil*/

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-li img {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .portfolio-overlay,
.portfolio-li:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-li h3 {
  margin: 32px 16px 8px;
}

/* Footer (MOBILE FIRST) */

.footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.footer-info {
  text-align: center;
  width: 264px;
}

.footer .logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 21px;
}

.footer-social {
  width: 100%;
  text-align: center;
}

/* Footer Sosyal İkonları yan yana sıralama ve ortalama */

.footer-social .social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-link svg {
  fill: #f4f4fd;
 

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #31d0aa;
}

.footer-social p {
  margin-bottom: 16px;
  margin-top: 0;
}

.footer-subscribe {
  width: 100%;
  text-align: center;

}

.subscribe-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.footer .span-2 {
  color: #f4f4fd;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.subscribe-form input[type="email"] {
  width: 100%;
  max-width: 288px;
  height: 40px;
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  padding: 8px 16px;
}

.subscribe-form input[type="email"]::placeholder {
  color: #ffffff;
  opacity: 1;
}


/* 1. MODAL BACKDROP  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 288px;
  height: 623px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


/* 2. KAPATMA BUTONU VE BAŞLIK */

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 233, 252, 1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
  fill: #ffffff;
}

.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* 3. FORM INPUTLARI VE İKONLARI */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input-wrapper {
  margin-bottom: 8px;
}

.modal-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-box {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.input-box svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper:focus-within .input-box svg {
  fill: #4d5ae5;
}

.modal-textarea {
  height: 120px;
  width: 256px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;

}

/* 4.CHECKBOX */

.modal-checkbox-wrapper {
  margin-bottom: 8px;
}

.modal-submit-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-check-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #8e8f99;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.privacy-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 2px;
}

.modal-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  flex-shrink: 0;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-custom-checkbox .icon-frame {
  fill: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.visually-hidden:checked+.modal-check-label .modal-custom-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.visually-hidden:checked+.modal-check-label .modal-custom-checkbox .icon-frame {
  opacity: 1;
 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px; /* Negatif margin ile görünmez yap */
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;

/* 5. GÖNDER BUTONU */

.subscribe-btn-wrapper {
  text-align: center;
}

.modal-submit-btn {
  margin: 0 auto;
  min-width: 169px;
}

/* Modal Formundaki ikonlar: Name, Phone, Email */

.modal-input-wrapper .input-box svg {
  fill: #2e2f42;
  /* rgba(46, 47, 66, 1) */
}

.modal-input-wrapper:focus-within .input-box svg {
  fill: #4d5ae5;
}

.footer-social .social-text {
  margin-top: 72px;
}

/* --- TABLET GÖRÜNÜMÜ (min 768px) --- */

@media screen and (min-width: 768px) {

  /* CONTAINER */

  .container {
    max-width: 768px;
    padding: 0 24px;
  }

  /* Son ekran 1440px için hero container ayarı */

  .hero-container {
    padding: 0 24px;
  }

  /* Logo ve linklerin tablet ölüçlerine göre ayarlama */

  .container a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  /* Mobil Menüyü Gizle, Masaüstü/Tablet Menüyü Göster , Mobil menü mekanizmasını gizle */

  .mobile-menu-btn-label,
  .menu-toggle-checkbox,
  .mobile-menu-backdrop {
    display: none;
  }

  /* Masaüstü Navigasyon ve Adresi Göster */

  .nav-desktop {
    display: block;
    margin-right: auto;
    margin-left: 120px;
  }

  .address-desktop {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  /* Header Container Düzeni */

  .header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 72px;
  }

  .nav-desktop .nav-ul {
    display: flex;
    gap: 40px;
    height: 72px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-ul a {
    padding: 24px 0;
    
  }

  /* Adres Linkleri Tablet  */

  .address-desktop a {
    letter-spacing: 0.04em;
    padding: 5px 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 14px;
    color: rgba(67, 68, 85, 1);
  }

  /* Hero title tablet için responsive */

  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Roboto", sans-serif;
  }

  /* HERO */

  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office-1.jpg");
    background-size: cover;
    background-position: center;
  }

  /* STRATEGY  */

  .strategy-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  /* Hero paragraf stili tablet */

  .strategy-ul p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(67, 68, 85, 1);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
  }

  .strategy-li {
    width: calc((100% - 24px) / 2);
  }

  /* Strategy başlıkları tablet */

  .strategy-li h3 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  .strategy-icon-box {
    display: none;

  }

  /* TEAM */

  /* Team bölümündeki kartların düzeni */

  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    margin: 72px 108px 96px 108px;
  }

  .team-li {
    width: calc((100% - 24px) / 2);
  }

  .team-social-list {
    gap: 16px;
  }

  /* PORTFOLIO */

  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .portfolio-li {
    width: calc((100% - 24px) / 2);
  }

  /* FOOTER YENİDEN YAPILANDIRILMA */

  .footer .container {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 72px 24px;
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 108px;
    padding-right: 24px;
  
  }

  /* footer-info ve footer-social alt alta*/

  .footer-main-group {
    display: flex;
    flex-direction: row; /*Info ve Social YAN YANA */
    gap: 72px;
  }

  .footer-info {
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .footer .logo {
    text-align: left;
  }

  /* Footer'da Social yazısının konumu ve stili */

  .footer-social .social-text {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  /* Footer Sosyal İkon Listesi  */

  .footer-social .social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  /* Abone Olma  */

  .footer-subscribe {
    text-align: left;
    width: 450px;
    margin: 0;
    padding-top: 0;
  }

  /* Abone Formu İç Yapısı (Input ve Buton) */

  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0;
    justify-content: flex-start;
  }

  .subscribe-form input[type="email"] {
    width: 264px;
    margin: 0;
  }

  /*  MODAL GÜNCELLEME */

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    
  }
}

/* --- MASAÜSTÜ GÖRÜNÜMÜ (min 1158px) --- */

@media screen and (min-width: 1158px) {

  /* CONTAINER */

  .container {
    max-width: 1440px;
    padding: 0 24px;
  }

  .container .logo {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  .container a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  /* Bölüm Boşlukları */

  .strategy,
  .team,
  .portfolio,
  .footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* Strategy ikonlarının desktop görünümü için ortalanması */

  .strategy-icon-box {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid rgba(142, 143, 153, 1);
    background-color: #f4f4fd;
  }

  /* HEADER */
  
  .header .container {
    height: 72px;
   
  }

  .nav-desktop {
    margin-left: 76px;
  }

  .address-desktop {
    flex-direction: row;
    gap: 40px;
  }

  /* Adres Linkleri Masaüstü */

  .address-desktop a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  /* HERO */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office-1.jpg");
    background-size: cover;
    background-position: center;
  }

  .hero-title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }

  /* STRATEGY */

  .strategy-ul {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .strategy-li {
    width: calc((100% - 72px) / 4);
  }

  .strategy-li h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
  }

  .strategy-ul p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(67, 68, 85, 1);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
  }

  .strategy-icon-box {
    display: flex;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid rgba(142, 143, 153, 1);
    background-color: #f4f4fd;
  }

  /* TEAM  */

  .team-ul {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .team-li {
    width: calc((100% - 72px) / 4);
  }

  /* PORTFOLIO  */

  .portfolio-ul {
    gap: 48px 24px;
  }

  .portfolio-li {
    width: calc((100% - 48px) / 3);
  }

  /* --- FOOTER DESKTOP DÜZENLEMESİ --- */

  .footer .container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Sütun Genişlikleri ve Hizalamalar */

  .footer-info {
    margin-right: 120px;
    width: 264px;
  }

  .footer-social {
    margin-right: 80px;
    width: 208px;
  }

  /* Abone Olma Kısmı */

  .footer-subscribe {
    width: 453px;
    text-align: left;
    margin-left: 150px;
  }

  /* Form Yan Yana */

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-form input[type="email"] {
    width: 264px;
    opacity: 1;
  }

  .footer-main-group {
    gap: 120px;
  
  }

  /* MODAL */

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/people-office-1@2x.jpg");
  }
}