.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER*/

.header-all {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 72px;
  margin-bottom: 168px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 40px;
}

/*HERO */

.hero-image {
  background-image: image-set(
    url("../images/people-office.jpg") 1x,
    url("../images/people-office.jpg") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 72px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 216px;
  color: white;
  margin-bottom: 72px;
  text-align: center;
  z-index: 5;
}

.hero-button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #31d0aa;
}

.hero-image::before {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2e2f42b3;
  position: absolute;
}

.hero-image .hero-text,
.hero-image .hero-button {
  position: relative;
  z-index: 2;
}

/* STRATEGY */

.feature {
  font-weight: 500;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  text-align: left;
}

.feature-list h3 {
  text-align: center;
  padding-bottom: 8px;
  font-size: 36px;
  letter-spacing: 0.02em;
  font-style: bold;
  line-height: 1.1;
}

section {
  padding-bottom: 96px;
  padding-top: 96px;
}

.feature-one {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* TEAM */

.our-team {
  text-align: center;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-title {
  margin-bottom: 72px;
}
.team-pic {
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-port {
  text-align: center;
}

.port-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.port-title {
  margin-bottom: 72px;
}

footer {
  background-color: #2e2f42;
  color: white;
}

.tean-list-container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.scm-li {
  display: flex;
  gap: 16px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scm-li:hover,
.scm-li:focus {
  background-color: #31d0aa;
}

.port-box {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: left;
}

.footer-logo-text {
  text-align: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  justify-content: center;
}

.footer-logo {
  color: #4d5ae5;
}

.footer-logo-sp {
  color: #2e2f42;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #f4f4fd;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.icon-frame {
  width: 24px;
  height: 20px;
}

.sub-button {
  background-color: #4d5ae5;
  width: 165px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button:hover,
.sub-button:focus {
  background-color: #31d0aa;
}
.subs {
  border: 1px solid white;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: #2e2f42;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  color: white;
}

.subs:hover,
.subs:focus {
  border-color: #31d0aa;
}

.subs::placeholder {
  padding-left: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.1;
}

.burger {
  width: 24px;
  height: 24px;
}

.burger-button {
  cursor: pointer;
}

/* */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 6;
  display: none;
  justify-content: center;
}

.is-open {
  display: flex;
}

.modal-container {
  border-radius: 4px;
  margin-top: 8px;

  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  z-index: 7;
  background-color: white;
  padding-top: 72px;
  padding-bottom: 24px;
  margin-bottom: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="tel"],
.modal textarea {
  width: 256px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="tel"] {
  width: 256px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding-left: 36px;
}

textarea::placeholder {
  padding-left: 16px;
}

.form-checkbox {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #8e8f99;
  line-height: 1.3;
  text-align: left;
  gap: 7.5px;
}

.container-label {
  width: 256px;
  height: 120px;
}

.modal-send-btn {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border-radius: 4px;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal input[type="text"]:hover,
.modal input[type="text"]:focus {
  border-color: #31d0aa;
}

.modal input[type="tel"]:hover,
.modal input[type="tel"]:focus {
  border-color: #31d0aa;
}

.modal input[type="email"]:hover,
.modal input[type="email"]:focus {
  border-color: #31d0aa;
}

.modal textarea:focus,
.modal textarea:hover {
  border-color: #31d0aa;
}

.modal input,
.modal textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #31d0aa;
}

.modal-title {
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.icon-close {
  width: 8px;
  height: 8px;
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  border: 1px solid #e7e9fc;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-wrapper {
  position: relative;
}

.form-container svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container input:focus + svg {
  fill: #4d5ae5;
}

.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 168px;
  justify-content: center;
  display: none;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  display: flex;
  flex-direction: row;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.nav-list-item {
  position: relative;
}

.nav-list-item:active::after {
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
}

.address {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.16;
  display: flex;
}

.mobil-menu .scm-li {
  gap: 40px;
}

address p:hover,
address p:focus {
  color: #404bbf;
}

.nav-list h2:hover,
.nav-list h2:focus {
  color: #404bbf;
}

.modal-button:hover,
.modal-button:focus {
  cursor: pointer;
  background-color: #404bbf;
  border-color: #404bbf;
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: #f4f4fd;
}

.port-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  left: 0;
  top: 0;
  padding: 40px 32px 164px 32px;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-pic:hover .overlay {
  transform: translateY(0);
}

.footer-subs {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.subs {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.box {
  position: relative;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.icon {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-open {
  display: flex;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .feature-list {
    justify-content: center;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .port-pic {
    flex-basis: calc((100% - 24px) / 2);
  }

  .port-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-one {
    flex-basis: calc((100% - 24px) / 2);
  }

  .burger-button {
    display: none;
  }

  .hero-text {
    font-size: 56px;
    font-style: Bold;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
  }

  .modal {
    display: none;
    justify-content: center;
  }

  .is-open {
    display: flex;
  }

  .form-container {
    gap: 8px;
  }

  .modal input[type="text"],
  .modal input[type="email"],
  .modal input[type="tel"] {
    width: 360px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding-left: 36px;
  }

  .container-label {
    width: 360px;
  }

  .modal-container {
    margin-top: 96px;
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-logo-text {
    align-items: baseline;
  }

  .footer-socials {
    align-items: baseline;
  }

  .footer .container {
    padding-left: 108px;
  }

  .footer-logo-text {
    max-width: 264px;
  }

  .footer-subs {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .subs {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .feature-list h3 {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .modal-container {
    margin-bottom: auto;
    margin-top: 80px;
  }

  .hero-image {
    height: 600px;
  }

  .nav-list {
    position: relative;
  }

  .nav-list:active::after {
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
  }

  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-all {
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .address {
    display: flex;
    flex-direction: row;
  }

  .port-pic {
    flex-basis: calc((100% - 48px) / 3);
  }

  .port-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .footer-container {
    padding-left:;
    display: flex;
    flex-direction: row;
  }

  .footer {
    width: 264px;
  }

  .footer-logo-text {
    gap: 120px;
  }

  .feature-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .feature-one {
    flex-basis: calc((100% - 72px) / 4);
  }

  .feature-list h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
  }

  .feature-list p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}
