body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header bölümü  */
.header-list {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-list .container {
  display: flex;
  align-items: center;
  min-height: 72px;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.logosp {
  color: #2e2f42;
}

.header-all {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: flex;
  gap: 40px;
}

.menulist {
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  position: relative;
}

.menulist:hover,
.menulist:focus {
  color: #404bbf;
}

.menulist::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menulist-s {
  color: #404bbf;
}

.menulist-s::after {
  background-color: #404bbf;
}

.address {
  display: flex;
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contactlist {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contactlist:hover,
.contactlist:focus {
  color: #404bbf;
}

/* hero bölümü */
.hero-image {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #ffffff;
  max-width: 496px;
}

.hero-button {
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 48px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* features bölümü */
.feature {
  padding: 120px 0;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-one {
  flex-basis: calc((100% - 72px) / 4);
  text-align: left;
}

.feature-one-icon {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 8px;
  text-align: left;
}

/* our team bölümü */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-pic {
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-container {
  padding: 32px 0;
}

.team-pic-title {
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.scm-li {
  width: 40px;
  height: 40px;
}

.scm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scm-link svg {
  fill: #f4f4fd;
}

.scm-link:hover,
.scm-link:focus {
  background-color: #404bbf;
}

.scm-link:hover svg,
.scm-link:focus svg {
  fill: #f4f4fd;
}

/* our portfolio bölümü */
.our-port {
  padding: 120px 0;
}

.port-title {
  margin-bottom: 72px;
}

.port-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.port-pic {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-pic:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.port-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 0.9);
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  color: #ffffff;
}

.port-img-wrapper:hover .overlay {
  transform: translateY(0);
}

.port-ul-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-pic-title {
  margin-bottom: 8px;
  line-height: 1.5;
}

/* footer bölümü */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  gap: 72px;
  align-items: baseline;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-sp {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footerso-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footerso-link svg {
  fill: #f4f4fd;
}

.footerso-link:hover,
.footerso-link:focus {
  background-color: #31d0aa;
}

/* form yeri */

.footer-subs {
  display: block;
  margin-left: 80px;
}

.subs {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.subs-form {
  display: flex;
  gap: 24px;
}

.formlabel-box {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.formlabel-box::placeholder {
  color: #ffffff;
}

.sub-button {
  display: flex;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
}

.icon-frame {
  margin-left: 16px;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin-bottom: 8px;
}

.comment-box {
  margin-bottom: 24px;
}

.container-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-icon-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-comment:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}

.form-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.checkbox-cust {
  width: 18px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Checkbox işaretlenince*/
.visually-hidden:checked + .form-policy .checkbox-cust {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn {
  display: block;
  min-width: 165px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}

/* responsive */

.header .mobil-container {
  display: none;
}

@media (min-width: 768px) and (max-width: 1158px) {
  body {
    width: 100vw;
  }

  nav {
    gap: 120px;
  }

  .header {
    width: 100%;
  }

  nav .logo {
    margin-right: 0;
    margin-left: 15px;
  }

  .header .container {
    position: relative;
    width: 100%;
    justify-content: normal;
    padding: 0;
  }
  .address {
    padding: 0;
    margin-left: 120px;
    height: 100%;
  }

  .address .address-list {
    flex-direction: column;
    margin-top: 12px;
    gap: 0;
    align-items: center;
    margin-bottom: 12px;
  }

  .contactlist {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  main {
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }

  .hero-image .container {
    width: 100%;
  }

  .feature-one-icon {
    display: none;
  }

  .hero-image ul {
    width: 100%;
    flex-wrap: wrap;
  }

  .hero-image .feature-one {
    width: 48%;
  }

  .hero-image h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  .hero-image p {
    width: 100%;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  /* team kısmı */

  .our-team .container {
    width: 100%;
    padding: 0 0;
  }

  .team-list {
    flex-wrap: wrap;
    width: 100%;
    gap: 68px;
  }

  .team-pic {
    width: calc((100% - 240px) / 2);
    height: auto;
  }

  .team-pic img {
    width: 100%;
    height: auto;
  }

  /*port kısmı */

  .our-port {
    width: 100%;
  }

  .our-port .container {
    width: 100%;
  }

  .port-ul {
    width: 100%;
  }

  .port-pic {
    width: calc((100% - 56px) / 2);
  }

  .port-ul img {
    width: 100%;
    height: auto;
  }

  .footer {
    width: 100%;
  }

  /*footer kısmı */

  .footer .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .footer .container div {
    width: calc((100% - 296px) / 2);
  }

  .footer-logo-text {
    margin-right: 0;
    margin-left: 20px;
  }

  .footer-subs {
    margin-left: 0;
    width: calc((100% - 315px) / 1);
  }
}

@media (max-width: 767px) {
  .mobil-container .mobil-menu .address-list {
    align-items: flex-start;
  }
}

.mobil-container .contactlist {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: inherit;
}

.modal-container {
  top: 8px;
  left: 16px;
  transform: translate(-5px, 0);
  width: 95%;
}

.container {
  width: 320px;
}

.header .container {
  display: none;
}

.header {
  width: 100%;
}

.header .mobil-container {
  display: flex;
  width: 100%;
  margin-right: 0;
  padding: 16px;
}

.mobil-container .navbar {
  width: 100%;
  justify-content: space-between;
}

body {
  margin-left: auto;
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

main {
  width: 100%;
}

.mobil-menu {
  display: none;
  visibility: hidden;
  width: 100%;
  height: 640px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 0px;
}

.is-open {
  visibility: visible;
}

.mobil-menu .menu {
  margin-left: 16px;
  margin-top: 72px;
  list-style-type: none;
  flex-direction: column;
}

.mobil-menu .menulist {
  color: #2e2f42;
  font-weight: 700;
  font-family: inherit;
  font-size: 36px;
}

.menulist:hover {
  color: #4d5ae5;
}

.mobil-menu .address {
  padding-top: 168px;
  padding-left: 16px;
  height: 72px;
}

.mobil-menu .address-list {
  flex-direction: column;
}

.address-list {
  color: #2e2f42;
  font-size: 24px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.5;
  line-height: 24px;
}

.address-list:hover {
  color: #4d5ae5;
}

.mobil-menu .social-icons {
  position: absolute;
  bottom: 40px;
  gap: 40px;
  list-style-type: none;
  left: 16px;
}

/* bitti */

.hero-image {
  width: 100%;
  align-items: center;
}

.hero-heading {
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
}

.feature {
  width: 100%;
}

.feature .container {
  width: 100%;
}

.feature .feature-list {
  flex-direction: column;
}

.feature .feature-one {
  width: 100%;
}

.feature-one-icon {
  display: none;
}

.feature .feature-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  font-family: inherit;
}

.feature .feature-parag {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: inherit;
  margin: auto;
}
/*team kısmı */

.our-team {
  width: 100%;
}

.our-team .container {
  width: 100%;
  padding: 0;
}

.team-list {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.team-pic {
  width: 264px;
  margin: 0 auto;
  margin-bottom: 72px;
}
/* port kısmı*/

.our-port {
  width: 100%;
}

.port-ul {
  flex-direction: column;
}

.port-pic {
  width: 100%;
}

/*footer */

.footer {
  width: 100%;
  height: 664px;
}

.footer .container {
  flex-direction: column;
}

.footer .container div {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 72px;
}

.footer .container .footer-logo-text {
  width: 100%;
}

.footer-logo-text a,
.social-media,
.subs {
  margin: auto;
  text-align: center;
  width: 100%;
}

.footer-text {
  margin: auto;
}

.social-media {
  text-align: center;
  margin: auto;
}

.footer-icons {
  justify-content: center;
}

.subs-form {
  flex-direction: column;
}

.footer-subs input[type="email"] {
  width: 100%;
}

.sub-button {
  padding: 8px 24px;
  width: 165px;
  margin: auto;
}
